.main_8 {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/src/images/MX-Exterior-Hero-Desktop.jpg");
}

.list_8 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 350px;
  color: white;
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
