.wrapper_7 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/src/images/MX-Utility-Hero-Desktop.jpg");
  height: 100%;
}

.wrapper_7 ul {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
  color: white;
  position: relative;
  top: 30rem;
}
.wrapper {
  /* height: 100%; */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/src/images/MX-Range-Hero-Desktop.jpg");
}
